{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Agenda Psico</title>
<link rel="stylesheet" href="{% static 'css/stylesMi.css' %}">
</head>
<body>

<div class="container">
  <div class="todo-container">
    <h1>Minhas tarefas</h1>
    <form method="post">
      {% csrf_token %}
      <input method="post" type="text" class="taskInput" name="adicionar_tarefa" placeholder="Adicione uma tarefa..." />
      <input method="post" type="date" class="dateInput" name="data" />
      <button id="addTaskBtn">Adicionar Tarefa</button>
      <ul id="taskList"></ul>
    </form>
  </div>
  <div class="notes-section">
    <h1>Anotações</h1>
    <div id="noteInputContainer">
      <input type="text" id="noteTitleInput" placeholder="Título da Anotação">
      <input type="date" id="noteDateInput">
      <textarea id="noteInput" placeholder="Digite sua anotação aqui"></textarea>
      <button id="addNoteBtn">Adicionar Anotação</button>
    </div>
    <ul class="notes-list" id="notesList"></ul>
    
</div>

<script src="{% static 'js/scriptsMi.js' %}"></script>
</body>
<p style="margin-left: 2%;"><a class="btn btn-primary" href="{% url 'index' %}">Voltar</a></p>
</html>
