{% extends 'html/base.html' %}

{% block content %}

<div>
    <h1>Anotação Dados</h1>
</div>

<p style="font-weight: bolder;">{{paciente.nome_paciente}}</p>
{% for anotação in anotações %}
<div style="margin-left: 3%;">
    <p style="font-weight: bolder;">Anotação</p>
    <p>{{anotação.registro}}</p>
    <p style="font-weight: bolder;">Data da Anotação</p>
    <p>{{anotação.data}}</p>
    <br>
</div>
{% endfor %}
<a href="{% url 'anotação' %}" style="color: blue; cursor: pointer;">Voltar</a>

{% endblock %}