{% extends 'html/base.html' %}

{% block content %}

<div>
    <h1>Paciente Dados</h1>
</div>


{% for dado in dados %}
<div style="margin-left: 3%;">
    <p style="font-weight: bolder;"><a href="Editar_Paciente/{{dado.id}}" style="cursor: pointer;">{{dado.nome_paciente}}</a></p>
    <p style="font-weight: bolder;">Data de Nascimento</p>
    <p>{{dado.nascimento_paciente}}</p>
    <p style="font-weight: bolder;">Telefone Paciente</p>
    <p>{{dado.telefone_paciente}}</p>
    <p style="font-weight: bolder;">Nome da Mãe</p>
    <p>{{dado.nome_mãe}}</p>
    <p style="font-weight: bolder;">Telefone da Mãe</p>
    <p>{{dado.telefone_mãe}}</p>
    <p style="font-weight: bolder;">Nome do Pai</p>
    <p>{{dado.nome_pai}}</p>
    <p style="font-weight: bolder;">Telefone do Pai</p>
    <p>{{dado.telefone_pai}}</p>
    <p style="font-weight: bolder;">Data Início Tratamento</p>
    <p>{{dado.início_tratamento}}</p>
    <p style="font-weight: bolder;">Data Término Tratamento</p>
    <p>{{dado.término_tratamento}}</p>
    <p style="font-weight: bolder;">Endereço</p>
    <p>{{dado.endereço}}</p>
    <p style="font-weight: bolder;">Número</p>
    <p>{{dado.número}}</p>
    <p style="font-weight: bolder;">Cidade</p>
    <p>{{dado.cidade}}</p>
    <p style="font-weight: bolder;">Estado</p>
    <p>{{dado.estado}}</p>
    <br>
</div>
{% endfor %}
<a href="{% url 'paciente' %}" style="color: blue; cursor: pointer;">Voltar</a>

{% endblock %}